#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #117864;;
}

.badge-success {
    background-color: #117864;;
}

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: black;
}


.img-fluid {
    border-radius: 15px;
}

.background{
    border-radius: 30px;
    height: 300px;
    width: 100%;
}

.backsmall{
    border-radius: 15px;
    margin-left: 5px;
    height: 300px;
    width: 97%;
}

.kesimpulan-besar{
    border-radius: 15px;
    background-color: rgb(222, 233, 252);
    width: 100%;
}

.kesimpulan{
    border-radius: 15px;
    background-color: rgb(222, 233, 252);
    width: 97%;
    margin-left: 5px;
}

.imgsmall{
    /* border-radius: 15px; */
    margin-left: 10px;
    /* height: 300px;
    width: 96%; */
}